.fullWidthSelect {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.fullWidthText  > div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.costTableCell > * {
  vertical-align: middle;
}
.costSliderContainer {
  background-color: #FAFBFC;
  border: 1px solid #F4F5F7;
  border-radius: 5px;
  padding: 0 10px;
  height: 40px;
}
